<!-- start custom footer snippets -->
<!-- <a href="https://apalarcon.github.io/">Sitemap</a> -->
<center>
<!-- <span id="badgeCont360"><script type="text/javascript" src="https://publons.com/mashlets?el=badgeCont360&rid=AAP-2320-2021"></script></span>
 <a href="https://publons.com/researcher/AAP-2320-2021/" target="blank"> <img src="../../images/publons.png"/> </a>
<a href="https://www.researchgate.net/profile/Albenis_Perez_Alarcon" target="blank"> <img src="../../images/RG.png"/> </a>
<a href="https://sciprofiles.com/profile/967196" target="blank"> <img src="../../images/SciProfiles.jpg" widht=151 height=51/> </a>
<a href="https://scholar.google.com/citations?user=tmWL2WUAAAAJ&hl=es" target="blank"> <img src="../../images/gch.jpg" widht=151 height=51/> </a>
<a href="http://www.scopus.com/inward/authorDetails.url?authorID=57218673482&partnerID=MN8TOARS" target="blank"> <img src="../../images/scopus.jpg" widht=151 height=51/> </a>

 -->
<!-- end custom footer snippets -->
