{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
 
   <span id="badgeCont360"><script type="text/javascript" src="https://publons.com/mashlets?el=badgeCont360&rid=AAP-2320-2021"></script></span>
    </p>
<a href="https://www.researchgate.net/profile/Albenis_Perez_Alarcon" target="blank"> <img src="../../images/RG.png" width=100 height=30/> </a>
</p>
<a href="https://sciprofiles.com/profile/967196" target="blank"> <img src="../../images/SciProfiles.jpg" widht=151 height=51/> </a>
</p>
<a href="https://scholar.google.com/citations?user=tmWL2WUAAAAJ&hl=es" target="blank"> <img src="../../images/gch.jpg" widht=151 height=51/> </a>
</p>
<a href="http://www.scopus.com/inward/authorDetails.url?authorID=57218673482&partnerID=MN8TOARS" target="blank"> <img src="../../images/scopus.jpg" widht=151 height=51/> </a>
</p>
  </div>
{% endif %}

